/* styles.css */

body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}

#formContainer {
    max-width: 600px;
    margin: 20px auto;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 5px;
    color: #5128b7; /* Main purple color */
}

input,
select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #a887eb; /* Lighter purple border */
    border-radius: 5px;
    box-sizing: border-box;
}

button {
    background-color: #8f53f0; /* Darker purple button background */
    color: #ffffff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #6b36d1; /* Darker purple on hover */
}

#shiftDisplay {
    margin-top: 20px;
    display: none;
}

#shiftList {
    list-style-type: none;
    padding: 0;
}

li {
    background-color: #ffffff;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

li button {
    background-color: #ff6666; /* Red color for delete button */
    color: #ffffff;
    border: none;
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
}

li button:hover {
    background-color: #cc0000; /* Darker red on hover */
}
